node_modules/
dist/
dist-*/
*.log
.tsbuild/
main.js
preload.js
resources/openclaw/
resources/.openclaw-myopenclaw/agents/
resources/.openclaw-myopenclaw/canvas/
resources/.openclaw-myopenclaw/
resources/openclaw/
logo-openclaw.jpg
